.App {
  text-align: center;
}

.paragraph-text{
  color: #801518;
  font-weight: bolder;
  text-transform: capitalize;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
